div.vjs-control-bar div.vjs-quality-button {
    width: 3.5em;
}

@media all and (max-device-width: 50em) {
    div.vjs-control-bar div.vjs-quality-button
    {
        display: none;
    }
}

div.vjs-control-bar div.vjs-quality-button div
{
    width:auto;
    background-image:none;
    padding-top: 0.1em;
}

div.vjs-control-bar div.vjs-quality-button span.vjs-quality-text
{
    font-family: Arial,sans-serif
}

.vjs-control-bar .vjs-quality-button .vjs-menu
{
    width:6.5em;
    left:-1.5em;
    background: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0.9;
}

    div.vjs-control-bar div.vjs-quality-button .vjs-menu-item
    {
        padding: 0 0 0.3em 1.4em;
        height: 1.4em;
        margin: 0 0;
        opacity: 1;
        background: none repeat scroll 0 0 #111111;
        font-family: Arial, sans-serif;
    }

@media all and (max-device-width: 50em) {
    div.vjs-control-bar div.vjs-quality-button .vjs-menu-item
    {
        height: 3.0em;
    }
}

div.vjs-control-bar div.vjs-quality-button ul.vjs-menu li.vjs-selected
{
    background: #111111 url('video-js.png') -125px -50px no-repeat;
    list-style: circle;
    text-decoration: none;
    color: #FFFFFF;
}

div.vjs-control-bar div.vjs-quality-button ul.vjs-menu li.vjs-selected:hover
{
    background: #BBB url('video-js.png') -125px -50px no-repeat;
    color: #111111;
}

div.vjs-control-bar div.vjs-quality-button .vjs-menu-item:hover
{
    background: none repeat scroll 0 0 #BBB;
}

div.vjs-control-bar div.vjs-quality-button .vjs-menu-title
{
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 0 0;
    padding: 0.2em 0 0.1em;
    text-transform: none;
    font-family: Arial, sans-serif;
    border-bottom: 0.2em solid #111111;
}

div.vjs-control-bar div.vjs-quality-button li.vjs-menu-arrow
{
    padding: 0 0 0 1.4em;
}

div.vjs-control-bar div.vjs-quality-button li.vjs-menu-arrow:hover
{
    background: transparent;
    cursor: default;
}

div.vjs-control-bar div.vjs-quality-button div.vjs-menu-arrow
{
    height: 0;
    line-height: 3em;
    margin: 0;
    padding: 0;
    width: 0;
    border-color: #111111 transparent transparent;
    border-style: solid;
    border-width: 1.4em 1.4em 0;
}


